<div class="card" *ngFor="let library of listLibrary">
  <div class="card-body">
    <h1 class="card-title">
      {{ library.name }} || Sayfa Sayısı: {{ library.address }}
    </h1>
    <div class="card text-left mb-3" style="width: 18rem">
      <div class="card-body">
        <h4 class="card-title">Kütüphane Detayları</h4>
        <h6
          class="card-subtitle mb-2 text-primary"
          *ngFor="let book of library.books"
          style="font-size: medium"
        >
          Kütüphaneye Ait Kitaplar : {{ book.title }} Kitabın Sayfa Sayısı {{ book.pageNumber }}
        </h6>
      </div>
    </div>
  </div>
</div>
