<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">LibraryApp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink=""
                >Anasayfa</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="books">Kitaplar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" *ngIf="!authService.isAuthenticated">Giriş Yap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register" *ngIf="!authService.isAuthenticated">Kayıt Ol</a>
            </li>
            <li class="nav-item">
              <a style="color: red; cursor: pointer;" (click)="signOut()" class="nav-link" *ngIf="authService.isAuthenticated">Çıkış Yap</a>
            </li>
            <button
              class="btn btn-outline-success"
              routerLink="admin"
              type="submit"
              *ngIf="authService.isAuthenticated"
            >
              Yönetim Paneli
            </button>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<ngx-spinner size="medium" name="a1" type="ball-atom"></ngx-spinner>
<ngx-spinner
  size="medium"
  name="a2"
  type="line-scale-pulse-out-rapid"
></ngx-spinner>

<div class="row">
    <router-outlet></router-outlet>
</div>

<button
type="button"
class="btn btn-floating btn-lg"
id="btn-back-to-top"
style="border: dotted;"
>
<fa-icon [icon]="faArrowUp"></fa-icon>
</button>
