<div class="card" *ngFor="let book of listBook ">
    <div class="card-body">
      <h1 class="card-title">{{book.title}} || Sayfa Sayısı: {{book.pageNumber}}</h1>
      <div class="card text-left mb-3" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Kitap Detayları</h4>
          <h6 class="card-subtitle mb-2 text-primary" *ngFor="let author of book.authors" style="font-size: medium;">Yazar : {{author.name}} {{author.surname}} </h6>
          <h6 class="card-subtitle mb-2 text-primary" *ngFor="let library of book.librarys" style="font-size: medium;">Kütüphane Adı :  {{library.name}} Adresi: {{library.address}}</h6>
    
        </div>
      </div>
      <p class="card-text">{{book.description}}</p>
    </div> 

